<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>User Page</title>
    <!--JQuery-->

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootsrap 4 CDN
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!--Fontawesome CDN-->
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.3.1/css/all.css}" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{../css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet"  th:href="@{../css/home.css}">
    <style>
    .btn-outline-primary{border-radius: 0px !important;margin-bottom: -1px; }
    </style>
</head>
<body>
<header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container" >
            <div th:if="${#request.userPrincipal != null}"class="user-bar">
                <span>Username:</span>
                <span th:utext="${#request.userPrincipal.name}"></span>
                <br>
                <p class="text-center" style="margin-bottom: 0px;"><a th:href="@{/logout}">Đăng xuất</a></p>
            </div>

            <!-- <a class="navbar-brand" href="#!">Start Bootstrap</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../homePage">
                            Home
                        </a>
                    </li>
                    <!-- Lưu ý -->
                    <li class="nav-item"><a class="nav-link nav-link-item" href="../login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="../register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="../bookPage">Post</a></li>
                    <li class="nav-item"><a class="nav-link  disabled" href="../detailPage">Detail</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#!">User</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <section class="container menubar-userpage">
        <ul class="d-flex justify-content-start"  style="margin-bottom: 0px; margin-top: 20px; border-bottom: rgba(13, 110, 253) 1px solid; list-style-type: none;">
            <li  style="margin-left: 10px;">
                <a class="btn btn-outline-primary active" href="./info">Thông tin</a>
            </li>
            <li  style="margin-left: 10px;">
                <a  class="btn btn-outline-primary" href="./posted">Sách đã đăng</a>
            </li>
            <li style="margin-left: 10px;">
                <a class="btn btn-outline-primary"  href="./collection">Sách yêu thích</a>
            </li>
        </ul>
    </section>
    <section class="container">
        <div class="card">
            <div class="card-header">
                <h3>Thông tin Cá nhân</h3>
<!--                <div class="d-flex justify-content-end social_icon">-->
<!--                    <span><i class="fab fa-facebook-square"></i></span>-->
<!--                    <span><i class="fab fa-google-plus-square"></i></span>-->
<!--                    <span><i class="fab fa-twitter-square"></i></span>-->
<!--                </div>-->
            </div>
            <div class="card-body" >
                <form th:action="@{/userPageInfo}"
                      th:object="${userPageInfoRequest}" method="POST">
                    <div class="input-group form-group" >
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="User Phone . . ." th:field="*{userPhone}" >

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-mail-bulk"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="User Email . . ." th:field="*{userEmail}">
                    </div>
                    <div>
                        <p class="text-red" th:text="${message}"></p>
                    </div>
<!--                    <div class="row align-items-center remember">-->
<!--                        <input type="checkbox" >Remember Me-->
<!--                    </div>-->
                    <div class="form-group">
                        <input type="submit" value="LƯU" class="btn btn-outline-success login_btn mr-5">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapsePassword" role="button" aria-expanded="false" aria-controls="collapsePassword">
                            ĐỔI MẬT KHẨU
                        </a>
<!--                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">-->
<!--                            Button with data-target-->
<!--                        </button>-->
                    </div>
                </form>
                <div class="collapse" id="collapsePassword">
                    <div class="card card-body">
                        <form th:action="@{/userPage/info}"
                              th:object="${userPasswordInfoRequest}" method="PUT">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Old Password . . ." th:field="*{userOldPassword}" >
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="New Password . . ." th:field="*{userNewPassword}">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Confirm Password . . ." th:field="*{userConfirmPassword}">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="LƯU" class="btn btn-outline-success login_btn">
                            </div>
                            <div class="">
                                <!--                        <button class="btn btn-outline-success login_btn">-->
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links" style="color: rgb(17, 235, 17);font-weight: bold;" th:utext="${messagePageInfo}" ></div>
            </div>
        </div>


    </section>

</main>
<!-- Footer-->
<footer class="py-5 bg-white">
    <div class="container background-opacity">
        <p class="m-0 text-center text-white">Copyright © Sách cũ 2021!</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>